[submodule "indexer-tutorials"]
	path = indexer-tutorials
	url = https://github.com/ad0ll/indexer-tutorials
[submodule "event-api"]
	path = event-api
	url = https://github.com/ad0ll/event-api.git
[submodule "indexer-tx-watcher-example"]
	path = indexer-tx-watcher-example
	url = https://github.com/near-examples/indexer-tx-watcher-example.git
[submodule "near-explorer"]
	path = near-explorer
	url = https://github.com/near/near-explorer.git
[submodule "near-wallet"]
	path = near-wallet
	url = https://github.com/near/near-wallet.git
