.wallet {
  background-color: rgb(240, 240, 241);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 40px;
  padding: 2px 5px 2px px 2px;
  cursor: pointer;
  user-select: none;
}

.wallet-address {
  font-weight: 600;
  font-size: 14px;
  margin: 0px 14px 0px 9px;
  white-space: nowrap;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(114, 114, 122);
}
